*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    font-family: sans-serif;
}
header{
    background: rgb(27, 209, 154);       
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
header h1{
    color: white;
    text-shadow: 2px 2px 4px black;
    font-weight: bold;
}
@media(width<1100px){
    @media(width<800px){
        @media(width<600px){
            @media(width<=440px){
                header h1{
                    font-size: 40px;
                }
                header img{
                    width: 90px;
                    margin: 5px;
                }
            }
            @media(width>440px){
                header{
                    height: 200px;
                }
                header h1{
                    font-size: 60px;
                }
                header img{
                    width: 110px;
                    margin: 5px;
                }
            }
        }
        @media(width>=600px){
            header{
                height: 240px;
            }
            header h1{
                font-size: 80px;
            }
            header img{
                width: 160px;
                margin: 5px;
            }
        }
    }
    @media(width >= 800px){
        header{
            height: 260px;
        }
        header h1{
            font-size:100px;
            margin: 15px;
        }
        header img{
            width: 200px;
            margin: 10px;
        }
    }
}
@media (width >=1100px){
    header{
        height: 300px;
    }
    header h1{
        font-size:140px;
        margin: 20px;
    }
    header img{
        width: 240px;
        margin: 20px;
    }
}



